:root {
    --main-width: 10px;
}

body {
    background-color: #f7f7f7;
    width: 80vmin;
    padding: 0px;
    margin: 10px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 20px;
}

p.subCenter {
    text-align: center;
    font-size: 12px;
    margin: 4px;
    padding: 0px;
}

span.blue {
    color: #5cabff;
    font-weight: bold;
    font-style: italic;
}

span.green {
    color: forestgreen;
    font-weight: bold;
    font-style: italic;
}

/* make all dimensions relative to some screen size */

div.splash {
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    /* box-shadow: 5px 5px 8px 1px #454545; */
    border-radius: 5px;
    width: 100%;
    border: solid 0px;
    background-color: transparent;
    padding: 4px 8px;
    text-align: center;
    text-shadow: 3px 3px 8px #838383;
    height: auto;
}

div.splash p.userKey {
    color: #ffffff;
}

div.splash h1 {
    font-size: 35px;
}